alabaster==1.0.0
babel==2.17.0
certifi==2025.10.5
charset-normalizer==3.4.3
click==8.3.0
codespell==2.4.1
doc8==2.0.0
docutils==0.21.2
idna==3.10
imagesize==1.4.1
iniconfig==2.1.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==25.0
pluggy==1.6.0
polib==1.2.0
Pygments==2.19.2
pytest==8.4.2
PyYAML==6.0.3
regex==2025.9.18
requests==2.32.5
restructuredtext_lint==1.4.0
roman-numerals-py==3.1.0
snowballstemmer==3.0.1
Sphinx==8.2.3
sphinx-copybutton==0.5.2
sphinx-lint==1.0.0
sphinx-multiversion==0.2.4
sphinx-rtd-theme==3.0.2
sphinx-tabs==3.4.7
sphinx_tamer==0.2.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-googleanalytics==0.5
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-mermaid==1.0.0
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stevedore==5.5.0
urllib3==2.5.0
