codespell
doc8
docutils
openai
python-dotenv
pip
pytest
sphinx
sphinx-copybutton
sphinx-lint
sphinx-multiversion
sphinx-rtd-theme
sphinx-tabs
sphinx-tamer
sphinxcontrib-googleanalytics
sphinxcontrib-mermaid
tenacity
timeout-decorator
