{% extends "!page.html" %}
{% block header %}
<div class="pageheader">
  <div align="center">
    <br/>
    <table id="topnav-table">
      <tr>
        <td valign="middle">
          Recursos de ROS :
            <a href="http://discourse.ros.org/">Foro de Discusiones </a>
            |
            <a href="http://status.ros.org/">Status de Servicio </a>
            |
            <a href="http://answers.ros.org/">Q&A answers.ros.org</a>

        </td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
{% block body %}
{% if current_version and latest_version and current_version != latest_version %}
<p>
  <strong>
    {% if current_version.name|string() in eol_versions %}
    Estas leyendo la documentación para una versión de ROS 2 que a llegado a su EOL (fin-de-vida), y oficialmente ya no cuenta con soporte.
    Si deseas información actualizada, por favor revisa <a href="{{ vpathto(latest_version.name) }}">{{latest_version.name | title }}</a>.
    {% elif current_version.is_released %}
    Estas leyendo la documentación para una versión de ROS2 anterior, pero que aun cuenta con soporte. 
    Para información respecto a la ultima versión, por favor revisa <a href="{{ vpathto(latest_version.name) }}">{{latest_version.name | title }}</a>.
    {% else %}
    Estas leyendo la documentación para una versión de desarrollo.
    Para la ultima versión publicada, por favor revisa <a href="{{ vpathto(latest_version.name) }}">{{latest_version.name | title }}</a>.
    {% endif %}
  </strong>
</p>
{% endif %}
{{ super() }}
{% endblock %}%
