
{% if versions %}
<h3>{{ _('Versions') }}</h3>
<h4>{{ _('Releases') }}</h4>
<ul>
  {%- for item in versions.releases|sort(reverse=True) %}
    {% if item.name == latest_version.name %}
    <li><a href="{{ item.url }}">{{ item.name | title }} (latest)</a></li>
    {% elif item.name in ['eloquent', 'crystal'] %}
    <li><a href="{{ item.url }}">{{ item.name | title }} (EOL)</a></li>
    {% else %}
    <li><a href="{{ item.url }}">{{ item.name | title }}</a></li>
    {% endif %}
  {%- endfor %}
</ul>
<h4>{{ _('In Development') }}</h4>
<ul>
  {%- for item in versions.in_development|sort(reverse=True) %}
  <li><a href="{{ item.url }}">{{ item.name | title }}</a></li>
  {%- endfor %}
</ul>
{% endif %}
