name: Test

on: pull_request

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies with pip
        run: pip install --no-warn-script-location --user -r requirements.txt -c constraints.txt

      - name: Test doc8
        run: make test

  lint:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies with pip
        run: pip install --no-warn-script-location --user -r requirements.txt -c constraints.txt

      - name: Lint
        run: make lint

  build:
    needs: [test, lint]
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@v1

      - name: Install dependencies with pip
        run: pip install --no-warn-script-location --user -r requirements.txt -c constraints.txt

      - name: Build the docs
        run: make html
